.window-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Ensures the window is draggable without covering the close button */
.draggable-area {
	width: 744px;
}

.header-icon {
	position: relative;
	top: 4px;
	height: 22px;
	width: 22px;
	margin-right: 3px;
}

.close-icon {
	position: inherit;
	right: 0px;
	bottom: 1px;
	height: 15px;
	width: 13px;
}
