#ie-container {
	height: 490px;
	width: 800px;
}

#ie-content {
	display: flex;
	flex-direction: column;
	height: 432px;
	width: 787px;
	padding: 1rem;
	align-items: center;
	background-image: url(/src/assets/Content/IEContent/background-img.png);
	background-repeat: repeat;
}

#ie-content h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2rem;
	font-weight: bold;
}

.divider {
	border: 1px solid gray;
	width: 750px;
	box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link-container img {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}

#social-links {
	display: flex;
	margin-top: 50px;
	gap: 70px;
}

#social-links a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 20px;
	color: rgb(154, 162, 250);
}

#social-links a:visited {
	color: rgb(68, 75, 157);
}

#ie-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#under-construction {
	margin-top: 90px;
}

#ie-buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	gap: 3px;
}
