#ie-container {
	height: 490px;
	width: 800px;
}

#ie-content {
	display: flex;
	flex-direction: column;
	height: 432px;
	width: 787px;
	padding: 1rem;
	align-items: center;
}

#ie-content h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2rem;
	font-weight: bold;
}

.divider {
	border: 1px solid gray;
	width: 750px;
	box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link-container img {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}

#social-links {
	display: flex;
	margin-top: 100px;
	gap: 70px;
}

#social-links a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: rgb(19, 57, 162);
}

#social-links a:visited {
	color: rgb(61, 22, 126);
}
